fastapi
uvicorn
langgraph
langchain-core
langchain-openai
python-dotenv
websockets
langchain
python-multipart
langchain-community
redis
langchain-ollama
langchain-groq
faster-whisper
torch
torchaudio
torchcodec
PyPDF2
edge-tts
